:root {
  --content-horizontal-margin: 72px;
  --content-vertical-margin: 48px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.content {
  height: calc(100% - var(--content-vertical-margin) * 2 - 64px);
}

.content__inner {
  margin: var(--content-vertical-margin) var(--content-horizontal-margin);
}

/* .content .content__inner .a-canvas {
  display: none;
} */

.card__media {
  width: 100%;
  min-height: 100px;
  height: var(--scene-height);
}

.scene {
  min-height: 100px;
  height: var(--scene-height);
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  :root {
    /* --scene-height: var(--content-height) - var(--text-height) calc(100vh - 64px - 48px * 2 -) */
    --content-horizontal-margin: 48px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  :root {
    --content-vertical-margin: 36px;
    --content-horizontal-margin: 36px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  :root {
    --content-vertical-margin: 24px;
    --content-horizontal-margin: 24px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  :root {
    --content-vertical-margin: 12px;
    --content-horizontal-margin: 12px;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  :root {
    --content-vertical-margin: 6px;
    --content-horizontal-margin: 6px;
  }
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
